* {
  margin : 0;
  padding : 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}
header {
  height: 100px;
  display: flex;
  justify-content: center;

}
 header img {
   height: 40px;
   width: 180px;
 }
 /* CONTENITORE ALL'INTERNO DELL'HEADER */
.wrapper{
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
}
/* HEADER LEFT */
.header-left {
  width: 40%;
  display: flex;
  align-items: center;
}
.header-left ul li{
  display: inline-block;
  text-transform: uppercase;
  padding-left: 20px;
  color: grey;
}
.wrapper a:hover {
  color:black;
}
/* HEADER RIGHT */
.header-right {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header-right > ul li{
  display: inline-block;

  color: grey;
}
.header-right ul li:hover {
  color:black;
}
button {
  background-color: #D2007E;
  color: white;
  padding: 15px;
  border-radius: 25px;
  cursor: pointer;
  margin-left: 15px;
}
button:hover {
  background-color: #a00361;
}
.wrapper a{
  text-decoration: none;
  color: grey;
}
/* DROPDOWN */
.relative{
  position: relative;
}

.window{
  position: absolute;
  left: 0px;
  top: 30px;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.2));
  background: white;
}
.window > li{
  padding: 20px;
}
.display-none{
  display: none;
}
/* ---PRODOTTI--- */
.prodotti {
  width: 400px;
  left: -150px;

}
/* ---AZIENDA--- */
.azienda {
  width: 200px;
  left:-50px;
}
/* ---AIUTO--- */
.aiuto {
  left: -25px;
}
/* ---LINGUE--- */
.lingue {
  left:-10px;
}
/* ---GENERALI--- */
.padding-left {
  padding-left: 20px;
}
